package components

templ DescriptionComponent(novel *Novel) {
	<div id="description" class="tab-content mb-8">
		<h2 class="text-2xl font-semibold mb-4">Description</h2>
		<div class="prose prose-invert dark:prose-dark max-w-none">
			{ novel.Description }
		</div>
	</div>
}
